<?php
return array(
    'modules' => array(
        'PhoneNumber',
    ),
    'module_listener_options' => array(
        'module_paths' => array(
            'module',
            'vendor',
        ),
    ),
);
